---
title: "Executive Staff"
---

Executive Staff
===============

<div class="pull-left">
  <%= image_tag 'executive-staff-archie.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Archie Manning - Executive Director
-----------------------------------

Leadership, dedication and commitment have enabled Archie Manning to succeed
both on and off the football field. Archie oversees every aspect of the Manning
Passing Academy and makes all the audibles when it comes to teaching and
coaching. Manning’s background is truly reflective of the ideals and dedication
necessary to compete on the football field.

At Ole Miss, where he is considered one of the greatest players ever to wear a
Rebel uniform, he was the recipient of the Walter Camp Award and was selected to
the All-American, All-SEC and All-South teams. As a professional Manning was the
2nd player selected in the 1971 NFL draft, he went on to a brilliant 14 year
career that included stints with the New Orleans Saints, Houston Oilers, and
Minnesota Vikings. As the New Orleans Saints field general, Archie was named
league MVP in `78 and was twice selected to the Pro Bowl.

As a community leader, he has supported numerous non-profits and charities over
the years in both Louisiana and Mississippi while continuing to assist those who
share his love for the game of football.  In 2013 he became the eighth recipient
of the NFL's prestigious "Pat Summerall Award" given to an individual who has
demonstrated through their career the character, integrity and leadership both
on and off the field.

Archie is Chairman of the National Football Foundation College Hall of Fame and
a member of the Mississippi Sports Hall of Fame and serves as an active member
of the Allstate Sugar Bowl championship committee.

The former All-American quarterback at Mississippi was named as the recipient of
the Davey O’Brien Legends Award which recognizes a QB who has made significant
contributions to football, distinguished himself as an extraordinary leader and
demonstrated exemplary conduct and reputation on and off the field. In October
2013, he was selected to be one of the 13 inaugural members of the College
Football Playoff Selection Committee.

A portion of the Manning Passing Academy proceeds is donated to Special Olympics
Louisiana, the Fellowship of Christian Athletes, and the Brain Tumor Research
Center. Archie and Peyton have written a book entitled "Manning: A Father, His
Sons and A Football Legacy," and also have a national quarterback award named
after the family. The Manning Award, hosted by the Sugar Bowl Committee, in
honor of Archie, Peyton and Eli is the only national quarterback award that
considered the candidates post-season play.

For almost four decades, the Manning family and the quarterback position have
been practically synonymous with one another. As such, their summer vacations
always revolve the annual Manning Passing Academy, a family-owned and managed
football camp that embraces the basic fundamentals of football while catering to
the offensive skill positions of RB, TE, WR…and of course QB. Archie and his
wife Olivia (a former Homecoming Queen at Ole Miss) reside in New Orleans are
the proud grandparents of seven grandchildren by Cooper, Peyton and Eli.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-cooper.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Cooper Manning - Senior Associate Director
------------------------------------------

Cooper was a two-time All-State wide receiver at Isidore Newman School in New
Orleans and played in the Louisiana High School All-Star Game as well as
participating on two state championship basketball teams. He was heavily
recruited by Division I schools out of high school including Texas, Virginia,
and Ole Miss before deciding to attend his father’s alma mater (Ole Miss) on a
football scholarship. A career-ending injury forced the Rebel wide receiver to
the sidelines, but his love for the game has never diminished.

Coop’s experience in high school, college, and professional sports has made him
a natural fit for the broadcast booth and he has hosted and or cohosted numerous
projects over the years, including both television and radio shows during
football season on WWL in New Orleans.

One of the most popular staff members among the campers, he is never too busy to
lend instruction or a helping hand. He is always the first to arrive at camp and
the last to leave. He prides himself on his ability to entertain campers after
practice as he hosts a live Q&A sessions with all the college players on staff.

He is currently a partner at Howard Weil Inc., an energy investment boutique in
New Orleans and is active with the National Multiple Sclerosis Society, The
Academy of Sacred Heart and his alma mater Isidore Newman School. He and his
wife Ellen are the proud parents of an 11-year-old daughter May, and two sons,
Arch (10) and Heid (8). Cooper remains the most handsome Manning and has no
plans of losing that title.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-peyton.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Peyton Manning - Senior Associate Director
------------------------------------------

A 17-year NFL veteran, Manning is widely regarded as one of the best
quarterbacks to have ever played the game as the league’s only five-time MVP
whose 13 Pro Bowl selections are the most ever by a QB.

Selected with the first overall pick in the 1998 NFL Draft by the Indianapolis
Colts, Manning quickly made his presence known, setting five different NFL
rookie records, including most TDs in a season and was named to the NFL
All-Rookie First Team.

Manning enjoyed arguably his greatest season in 2013, earning his fifth MVP
award and making his third trip to the Super Bowl while setting  NFL
single-season records in passing yards (5,477), touchdown passes (55) and
quarterback rating (115.1).  He also set Broncos single-season records in those
categories, while his completions, yards and touchdown passes were career highs.
The Associated Press selected him as the 2013 Offensive Player of the Year and
also was the 2013 FedEx Air Player of the Year.

In 2012, Manning took over as QB of the Denver Broncos after spending the first
14 years of his illustrious career in Indianapolis and didn’t miss a beat after
recovering from neck surgery in 2011, leading the Broncos to an AFC best 13-3
record. He also ranked second among starting quarterbacks with a passer rating
of 105.8, third in touchdowns with 37 and accumulated 4,659 passing yards. He
set Bronco single-season passing records in nearly every major passing category.
For his accomplishments, he was recognized by the Associated Press as the 2012
NFL Comeback Player of the Year and also was named to his 12th Pro Bowl, his 6th
as a first-team selection.

Before missing the 2011 season due to injury, Manning started 16 regular season
games for 13 consecutive seasons and earned his 11th Pro Bowl selection in 2010.

As the Super Bowl XLI MVP, he has completed more passes, thrown for more yards
and touchdowns in a career-opening 13-year span than any NFL player in history
and has torched all the NFL, AFC, and Colts record-books in the process, won
back-to-back MVP honors for second time in his career (2003-04 and 2008-09),
which in itself is a record, and in 2009, he was listed by the Sporting News as
the No. 1 player in the NFL.

He is the only NFL QB to ever throw for 3,000+ yards in his first 13 seasons of
his career, holds NFL records for consecutive seasons with 4,000+ yards in a
career, and the Colts’ all-time career passing yards and passing touchdowns
leader.

As a collegian at the University of Tennessee, he was a four-year starter, saw
action in 48 games with 45 starts, set 33 school records, eight SEC records and
two NCAA marks, and ended his college career owning SEC record for wins as
starting QB (39-6), completions (863), passing yards (11,201), total offense
(11,020), and completion percentage (62.49%).

Ranked 3rd in NCAA history in passing yards and total offense as well as posted
a 26-4 record as a starter in SEC games, Peyton is a three-time Academic
All-America honoree, started 13 games as a senior and led his team to the SEC
Championship and an 11-2 record, and won the Sullivan Award for the nation’s top
amateur athlete, Davey O’Brien Award for Top QB, Johnny Unitas Golden Arm Award
for top senior and GTE Academic All-America 1st Team.

Manning was selected the 2001, 2004 and 2005 Walter Payton/ Indianapolis Colts
NFL Man-of-the-Year for his participation in community affairs, he attended
Newman High School and was an All-American, All-State and All-District pick at
QB.

Peyton and his wife Ashley reside in Denver, Colorado and are the proud parents
of twins, Mosley and Marshal.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-eli.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Eli Manning - Senior Associate Director
---------------------------------------

Following in his brother's footsteps, Eli was the first pick in the 2004 NFL
Draft by the NY Giants. In the past 10 years, Eli has won two Super Bowls and
earned two Super Bowl MVP honors.

In 2012, Eli staked his claim among the elite passers in the NFL when he led the
Giants to their second Super Bowl title in the last five years. Manning also won
his second Super Bowl MVP award after completing 30-of-40 passes for 296 yards
and a TD in Super Bowl XLVI. He is the first Giants quarterback to start two
Super Bowl games.

Manning will begin his 11th NFL season and has started the Giants’ last 151
regular season games, the longest streak among active quarterbacks.  He is also
the first Giants quarterback to throw for more than 3,000 yards in nine
consecutive seasons, the first to have two 4,000-yard seasons as well as the
first to throw at least 20 touchdown passes eight years in a row.

Manning was named MVP of Super Bowl XLII (the year after Peyton was named MVP)
joining Phil Simms and Otis Anderson as the only Giants who have won the award
and the only Giants quarterback to win it twice. Manning played in his first Pro
Bowl following the ‘08 season and h. Overall, his record as a starting QB is
78-57 (.577) in the regular season and 8-3 (.727) in the postseason.

Manning's 151 consecutive starts is a Giants record and the third-best mark
all-time by an NFL quarterback. It is the longest current streak in the league. 
In each of his 10 years as the full-time starter, Manning has thrown for at
least 3,000 yards while also tossing at least 20 touchdowns in nine of the last
10 seasons. In 2011, he threw for a career-high 4,933 yards. After the 2012
season he was named to his third Pro Bowl and threw two TD’s in the 62-35 win
over the AFC.

At Ole Miss, Eli set or tied 45 single game, season, and career records.

In his senior year, Eli led the Rebels to a 10-3 record and a 31-28 SBC Cotton
Bowl victory over the Oklahoma State Cowboys in 2003, won the Maxwell Award,
given to the nation’s top collegiate player, the Johnny Unitas Golden Arm Award,
given to the nation’s top senior quarterback and The Walter Camp Foundation
Player of the Year Award.

Eli was the SEC Player of the Year and earned the Conerly Trophy as the top
collegiate player in the state of Mississippi.

Eli joined his brother Peyton by volunteering in the wake of Hurricane Katrina
and together they assisted in the delivery of 30,000 pounds of water, Gatorade,
baby formula, diapers, and pillows to the people of New Orleans.

He championed the construction of “The Eli Manning Children’s Clinics” at the UM
Hospital for Children raising $2.5 million and for the past six years has hosted
the “Guiding Eyes for the Blind’s Golf Classic, the oldest and largest charity
event in Westchester County, NY.

Born and raised in New Orleans, Louisiana, he attended Newman High School and
was an All-American, All-State and All-District pick at QB.

Eli and his wife Abby reside in Hoboken, New Jersey and are the proud parents of
daughters Ava and Lucy.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-buddy.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Buddy Teevens - Associate Director
----------------------------------

Buddy has been an integral part of the MPA since its inception. He is the head
football coach at Dartmouth College in Hanover, New Hampshire.  Teevens started
his coaching career at DePauw University ('79) and went on to become offensive
coordinator at Boston University (1980-84). Buddy first became a head coach at
the University of Maine ('85) where he led the Black Bears to a 6-5 and 7-4
marks in successive seasons, the program’s first back-to-back winning seasons in
21 years. His first stint at Dartmouth College (his alma mater) was from
1987-91. As head coach he won two Ivy League Championships (he also won one as a
player) before moving on to Tulane University in '92. From 1992-96, Teevens
rebuilt the Green Wave program and recruited most of the team that went 12-0 in
1998. Teevens served as offensive coordinator and receivers coach at Illinois
from 1997-98, and passing game coordinator at Florida from 1999-2001. Buddy was
head coach at Stanford University from 2002-2004 before returning to his roots
at Dartmouth College. At the Manning Passing Academy, coach Teevens oversees all
aspects of the on-field operation and coaching staff. A native of Pembroke,
Mass.  Teevens and his wife Kirsten, reside in Hanover, New Hampshire, have two
children, Lindsay, and Eugene IV.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-hawk.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Jeff "Hawk" Hawkins - Associate Director
----------------------------------------

Hawk is entering his 19th year as Associate Camp Director. He is responsible for
all aspects of administration. He is in his 14th season at the University of
Oregon where he serves as the Senior Associate Athletic Director for Football
Administration and the Director of the Hatfield-Dowlin Complex. Hawkins spent
three years in the U.S. Army after high school. He earned his undergraduate
degree at Bridgewater State College ('80), where he started all four years on
the defensive line and was named co-captain in his senior year. After graduation
he spent five years with the New England Patriots in the team's marketing &
promotions division. He broke into the coaching ranks at Chico State (1985-86)
before joining Buddy Teevens at Dartmouth College a position coach and DFO in
1987 and followed him to Tulane University (1992-96). After his stint with the
Green Wave, he served as director of special projects with the Nokia Sugar Bowl
(1996-01) and regularly worked game-day assignments with Tulane University and
the New Orleans Saints. He also served a four year term as vice president of
Special Olympics Louisiana, a charity that he personally has invested more than
twenty years in as a volunteer. Jeff, a native of Pembroke, Mass., and his wife
Amy reside in Eugene, Oregon with their daughter Gabrielle.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-kyle.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Kyle Wiest - Assistant Director
-------------------------------

Kyle, is entering his 13th year at the MPA and serves as the director of camp
administration, responsible for the day-to-day operations of the camp. His
responsibilities include overseeing all aspects of administration and
information technology. Wiest, a Masters recipient from the University of Oregon
is the Director of Football Operations at the University of Oregon and resides
in Eugene.

<div class="clearfix"></div> <hr />

Tom Hart - Director of Camp Security
------------------------------------

Tom Hart oversees all aspects of the MPA's security both for coaches, as well as
for campers. He is a retired police detective and SWAT Team Officer. Hart has
accrued almost 27 years of law enforcement experience and has served as a
Plice Academy Instructor, Anti-Terrorism Instructor, Crime Prevention Officer,
and Special Investigator to the Violent Crimes Unit. Tom graduated from
Bridgewater State College (Bridgewater, MA) with a degree in physical
education. He currently serves as the Professional Development Coordinator at
the University of Oregon athletic department.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-greg.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Greg Blackwell - Director of Public Relations
---------------------------------------------

Greg will be entering his 17th year with the camp and his 14th year in the role
of Director of Public Relations. He is currently the Director of THE TCU
Lettermen's Association at Texas christian university, after serving as the
Director of Communications for the Allstate Sugar Bowl in New

Orleans, LA from 1997 - 2007. A native of Burbank, CA, Greg served in the armed
forces after high school as a Paratrooper in the 82nd Airborne Division before
moving on to college where he earned a bachelor's degree in Communications from
Memphis State University.

He and his wife Lydia reside in Fort Worth, Texas with their son Christian.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-andy.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Andy Solari - Director of Communications
----------------------------------------

Andy is entering his 12th year at the MPA and has served in virtually every
capacity. Currently he oversees all communications and assists in merchandising.

He is a Telecommunications Specialist for the Massachusetts State Lottery
Commission where he plays an integral part in the design and maintenance of the
largest single user telephone network in Massachusetts. Andy received his
technical training at Boston University and Northeastern University in Boston,
MA.

Solari served in the US Coast Guard and is a native of Pembroke, MA. He
currently resides in Marshfield, MA with his wife Beth, a registered nurse, and
their three children: Jessica, Emily, and Tony.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-ed.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Ed Nishioka - Director of Marketing and Promotions
--------------------------------------------------

Ed is entering in his 9th year with the Manning Passing Academy. He handles
local marketing and video production for the camp.

His company, DNA Communications LLC, has handled media, marketing and PR for the
NFL Pro Bowl for the past 18 years. He has an extensive sports background
working with the United States Olympic Committee in Track and Field, Pete Newell
Big Man Camp, World Championship Kickboxing, Hawaiian Super Prix CART Race,
Basketball Camps and as a TV News Sports Reporter at KHSL. He has also done a
couple stints working in government as the media person for the Honolulu Mayor,
Deputy of the Department of Customer Service and as Chief Public Information
Officer for the Honolulu Rail Transit project. He has also produced the Smooth
Jazz Nights concerts series that has featured some of the top artists from
around the world.

He holds Masters Degrees (M.A.) in Instructional Technology and Information and
Communication Studies from California State University at Chico and Bachelor
Degree (B.S.) from Southern Oregon University in Journalism and Marketing. He
competed in the decathlon and javelin while at Southern Oregon and worked on
football staff at Chico State under Head Coach Mike Bellotti. He served as
Assistant Athletic Director and Head Cross Country Coach while at Chaminade
University in Honolulu helping coordinate the ESPN's Maui Classic.

He and wife, Rae, reside in Honolulu with their two Boxers (Mr. Lex and
Princess) and English Bulldog (Lady). Ed's daughter, Sarah, is a student at the
University of Nevada Las Vegas.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-jimmy.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Jim Marinelli - Director of Operations
--------------------------------------

Entering his 11th year associated with the MPA, Jim oversees all aspects of
logistical operations of the camp including set-up and break-down and everything
in between.

<div class="clearfix"></div> <hr />

Rick Solari - Director of Merchandising
---------------------------------------

Information technology professional with 32 years of experience managing the
development and implementation of technology solutions for the financial
industry.

Rick is currently serving as a Systems Consultant and Vice President for the
Wealth Management Services division of the State Street Bank and Trust Company
in Boston, MA.

<div class="clearfix"></div> <hr />

<div class="pull-left">
  <%= image_tag 'executive-staff-parker.jpg',
    class: 'img-responsive, img-thumbnail' %>
</div>

Parker Waters - Director of Photography
----------------------------------------

Parker is entering his sixth year with Manning Passing Academy as the camp
photographer.  He currently serves as the photographer for Tulane Athletics,the
New Orleans Zephyrs (AAA affiliate of the Miami Marlins) and SportsNola.com. He
regularly covers both NFL and NBA games, high school games for MaxPreps and has
covered the Superbowl and National Championships in football, basketball and
golf.

Parker is originally from Fort Walton Beach, FL and now resides in New Orleans.
He earned his BA degree from Tulane University.  Prior to pursuing his career
in photography, he served as Second Vice President  of market and product
development in the International Division of a New Orleans based insurance
company.
