---
title: "Sponsors"
---

Sponsors
========

<table>
  <tr>
    <td>
      <a href="//www.gatorade.com">
        <%= image_tag 'sponsors-gatorade.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="http://www.nike.com/us/en_us/">
        <%= image_tag 'sponsors-nike.png', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.bankplus.net/">
        <%= image_tag 'sponsors-bank-plus.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.spalding.com/football/index.php">
        <%= image_tag 'sponsors-spalding.gif', class: 'img-responsive' %>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//www.mcdonalds.com/">
        <%= image_tag 'sponsors-mcdonalds.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//d1sportstraining.com/">
        <%= image_tag 'sponsors-d1.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.iberiabank.com/">
        <%= image_tag 'sponsors-iberia.png', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www1.hilton.com/en_US/hi/hotel/MSYAHHH/index.do">
        <%= image_tag 'sponsors-hilton.jpg', class: 'img-responsive' %>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//directv.com/">
        <%= image_tag 'sponsors-directv.png', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//sportsperformance.stvincent.org/">
        <%= image_tag 'sponsors-stvincents.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//papajohns.com/">
        <%= image_tag 'sponsors-papajohns.jpg', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <%= image_tag 'sponsors-sportsmedicine.jpg', class: 'img-responsive' %>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//graduatehotels.com/">
        <%= image_tag 'sponsors-graduatehotels.png', class: 'img-responsive' %>
      </a>
    </td>
  </tr>
</table>
