---
title: "Sponsors"
---

Sponsors
========

<div id="title-sponsors" class="sponsors">
  <div class="sponsor">
    <% link_to '//www.gatorade.com' do %>
      <%= image_tag 'sponsors-gatorade.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//www.nike.com/us/en_us' do %>
      <%= image_tag 'sponsors-nike.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//www.wilson.com/en-us/football/footballs' do %>
      <%= image_tag 'sponsors-wilson.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//www.riddell.com' do %>
      <%= image_tag 'sponsors-riddell.jpg', class: 'img-responsive' %>
    <% end %>
  </div>
</div>

* * *

<div id="secondary-sponsors" class="sponsors">
  <div class="sponsor">
    <% link_to '//www.nicholasair.com' do %>
      <%= image_tag 'sponsors-nicholas-air.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//www.mcdonalds.com' do %>
      <%= image_tag 'sponsors-mcdonalds.gif', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//d1sportstraining.com' do %>
      <%= image_tag 'sponsors-d1.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//www.iberiabank.com' do %>
      <%= image_tag 'sponsors-iberia.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <% link_to '//www1.hilton.com/en_US/hi/hotel/MSYAHHH/index.do' do %>
      <%= image_tag 'sponsors-hilton.jpg', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <%= image_tag 'sponsors-sportsmedicine.jpg', class: 'img-responsive' %>
  </div>
  <div class="sponsor">
    <% link_to '//graduatehotels.com' do %>
      <%= image_tag 'sponsors-graduatehotels.png', class: 'img-responsive' %>
    <% end %>
  </div>
  <div class="sponsor">
    <%= image_tag 'sponsors-mannings.png', class: 'img-responsive' %>
  </div>
  <div class="sponsor">
    <%= image_tag 'sponsors-si-play.png', class: 'img-responsive' %>
  </div>
</div>
