Sponsors
========

<table>
  <tr>
    <td>
      <a href="//www.gatorade.com">
        <%= image_tag 'sponsors-gatorade.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.spalding.com/football/index.php">
        <%= image_tag 'sponsors-bank-plus.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.spalding.com/football/index.php">
        <%= image_tag 'sponsors-spalding.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.mcdonalds.com/">
        <%= image_tag 'sponsors-mcdonalds.gif', class: 'img-responsive' %>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//d1sportstraining.com/">
        <%= image_tag 'sponsors-d1.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.iberiabank.com/">
        <%= image_tag 'sponsors-iberia.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.kraft.com/default.aspx/">
        <%= image_tag 'sponsors-kraft.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//www.libertymutual.com/">
        <%= image_tag 'sponsors-liberty-mutual.png', class: 'img-responsive' %>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//www1.hilton.com/en_US/hi/hotel/MSYAHHH/index.do">
        <%= image_tag 'sponsors-hilton.jpg', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//directv.com/">
        <%= image_tag 'sponsors-directv.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//att.com/gen/landing-pages?pid=3308">
        <%= image_tag 'sponsors-att.gif', class: 'img-responsive' %>
      </a>
    </td>
    <td>
      <a href="//sportsperformance.stvincent.org/">
        <%= image_tag 'sponsors-stvincents.gif', class: 'img-responsive' %>
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//papajohns.com/">
        <%= image_tag 'sponsors-papajohns.jpg', class: 'img-responsive' %>
      </a>
    </td>
    <td>
        <%= image_tag 'sponsors-sportsmedicine.jpg', class: 'img-responsive' %>
    </td>
  </tr>
</table>
