<footer class="container">
  <hr />
  <ul class="nav nav-pills">
    <li class="disabled"><a href="#">&copy; Copyright Manning Passing Academy</a></li>
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'About', '/page/history' %></li>
    <li><%= link_to 'Sign-up', '/page/application-registration' %></li>
    <li><%= link_to 'Privacy policy', '/page/privacy' %></li>
    <li><%= link_to 'Contact us', '/page/contact-us' %></li>
  </ul>
</footer>
