---
title: "Official Home Page"
---

<div id="masthead">
  <div class="container">
    <div id="mpa-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#mpa-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#mpa-carousel" data-slide-to="1"></li>
        <li data-target="#mpa-carousel" data-slide-to="2"></li>
        <li data-target="#mpa-carousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <% link_to 'https://parkerwaters.photoreflect.com/store/thumbpage.aspx?e=10446420' do %>
            <%= image_tag 'carousel-photos.png', alt: '2019 Photos' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to online_registration_link do %>
            <%= image_tag 'carousel-registration-open.png', alt: 'Registration is now open!' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to online_registration_link do %>
            <%= image_tag 'carousel-wilson-football.png', alt: 'Free Wilson Football' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to 'https://youtu.be/_ZsbBcv1_Bw' do %>
            <%= image_tag 'carousel-2018-video.png', alt: '2018 MPA Camper Video' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to "https://parkerwaters.photoreflect.com/store/thumbpage.aspx?e=10265372&__s=XXXXXXXX" do %>
            <%= image_tag "carousel-photos.png", alt: "Camp Photos" %>
          <% end %>
        </div>

        <div class="item">
          <% link_to '//store.manningpassingacademy.com' do %>
            <%= image_tag 'carousel-online-store.png', alt: 'Online Store now open.' %>
          <% end %>
        </div>

        <!--

        <div class="item">
          <% link_to 'documents/brochure.pdf' do %>
            <%= image_tag 'carousel-2019-brochure.png', alt: '2019 Brochure and Counselors' %>
          <% end %>
        </div>

        <div class="item">
          <%= image_tag "carousel-registration-closed.png", alt: "Registration is closed" %>
        </div>

        -->
      </div>
    </div>

    <a class="left carousel-control" href="#mpa-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#mpa-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div id="secondary-header">
  <div class="container">
    <h1>MANNING PASSING ACADEMY</h1>
    <h2>Nicholls State University - Thibodaux, LA</h2>

    <h2>
      <%= "#{start_date.strftime('%A, %B %-d')} - #{end_date.strftime('%A, %B %-d, %Y')}".upcase %>
    </h2>

    <%= link_to 'Sign Up Now!', online_registration_link,
      class: 'btn btn-lg btn-danger' %>

    <div id="social-links">
      <%= partial 'partials/twitter_link' %>
      <%= partial 'partials/instagram_link' %>
      <%= partial 'partials/facebook_link' %>
    </div>

    <hr />

    <h2>2019 Ladies' Clinic</h2>
    <h3>
      <%= "#{womens_clinic_date.strftime('%A, %B %-d, %Y')}" %>
    </h3>
    <a href="/page/womens-clinic" class="btn btn-default">Learn More</a>

    <!--
    <div class="bg-danger">
      <h3 class="text-muted">Registration for the 2019 MPA will open soon.</h3>
    </div>
    -->

  </div>
</div>

<div id="home-description" class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>24th Anniversary</h4>
      <%= image_tag 'home-description-cooper-archie.png' %>
      <p>
        For over 20 years, the Manning Passing Academy has been helping players
        fully realize their potential on and off of the football field.
      </p>
    </div>
    <div class="col-md-4">
      <h4>The Premier Camp in the Country</h4>
      <%= image_tag 'home-description-peyton.png' %>
      <p>
        Whether you're a QB, RB, WR, or TE, the Manning Passing Academy will
        help you grasp the fundamentals of your position, and basic offensive
        and defensive strategies.
      </p>
    </div>
    <div class="col-md-4">
      <h4>Learn From the Best</h4>
      <%= image_tag 'home-description-eli.png' %>
      <p>
        We've gathered some of the most successful and brightest coaches and
        players from the professional, college, and high school ranks to help
        all campers learn from the best.
      </p>
    </div>
  </div>
</div>
