---
title: "Official Home Page"
---

<div id="masthead">
  <div class="container">
    <div id="mpa-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#mpa-carousel" data-slide-to="0" class="active"></li>
        <!--
        <li data-target="#mpa-carousel" data-slide-to="1"></li>
        <li data-target="#mpa-carousel" data-slide-to="2"></li>
        -->
      </ol>

      <div class="carousel-inner">
        <!--
        <div class="item active">
          <% link_to online_registration_link do %>
            <%= image_tag 'carousel-registration-open.png', alt: 'Registration is now open!' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to online_registration_link do %>
            <%= image_tag 'carousel-football.png', alt: 'Free Spalding TF-SB1 Football.' %>
          <% end %>
        </div>
        -->

        <div class="item active">
          <% link_to '/documents/reminders.pdf' do %>
            <%= image_tag 'carousel-reminders.png', alt: '2015 MPA Reminders' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to '/page/purpose/' do %>
            <%= image_tag 'carousel-2015-mpa.png', alt: '2015 MPA' %>
          <% end %>
        </div>

        <div class="item">
          <% link_to '/page/online-store/' do %>
            <%= image_tag 'carousel-online-store.png', alt: 'Online Store now open.' %>
          <% end %>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#mpa-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#mpa-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div id="secondary-header">
  <div class="container">
    <h1>2015 MANNING PASSING ACADEMY</h1>
    <h2>THURSDAY, JULY 9 - SUNDAY, JULY 12, 2015</h2>
    <!--
    <%= link_to 'Sign Up Now!', online_registration_link,
      class: 'btn btn-lg btn-danger' %>
    -->
  </div>
</div>

<div id="home-description" class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>20th Anniversary</h4>
      <%= image_tag 'home-description-cooper-archie.png' %>
      <p>
        For 20 years, the Manning Passing Academy has been helping players
        fully realize their potential on and off of the football field.
      </p>
    </div>
    <div class="col-md-4">
      <h4>The Premier Camp in the Country</h4>
      <%= image_tag 'home-description-peyton.png' %>
      <p>
        Whether you're a QB, RB, WR, or TE, the Manning Passing Academy will
        help you grasp the fundamentals of your position, and basic offensive
        and defensive strategies.
      </p>
    </div>
    <div class="col-md-4">
      <h4>Learn From the Best</h4>
      <%= image_tag 'home-description-eli.png' %>
      <p>
        We've gathered some of the most successful and brightest coaches and
        players from the professional, college, and high school ranks to help
        all campers learn from the best.
      </p>
    </div>
  </div>
</div>
